{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "indent": ["error", 2],
    "max-len": [
      "warn",
      { "code": 120, "tabWidth": 2, "ignoreUrls": true, "ignoreStrings": true }
    ],
    "arrow-parens": ["error", "always"],
    "no-console": "off"
  }
}
