@import '../common';
@import '../variables';

$btn-bg: $teal;
$btn-ripple-bg: $pastel-pink;
$btn-click-bg: rgba(255, 255, 255, 0.3);

.btn-ripple {
  cursor: pointer;
  background: $teal;
  display: block;
  position: relative;
  font-size: 20px;
  padding: 0.8em;
  color: white;
  text-decoration: none;
  @include box-shadow(2);
  overflow: hidden;
  z-index: 1;
  margin: 7.5px;
  transition: transform 50ms ease-out;
  @include text-shadow();

  > .ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 50% 0;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    pointer-events: none;
  }
  .ripple-hover {
    transition: transform 200ms ease-out;
    background: $btn-ripple-bg;
    box-shadow: 0 0 10px 5px $btn-ripple-bg;
  }
  .ripple-click {
    opacity: 1;
    transition: transform 200ms ease-out, opacity 500ms ease-in;
    background: $btn-click-bg;
    box-shadow: 0 0 10px 5px $btn-click-bg;
  }

  &:focus {
    @include box-shadow(4);
    outline: none;
    background: lighten($btn-bg, 8%);
    transform: scale(1.03);
  }
}
